# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. PyTorch
3. Pandas

| Data Science Tools |
|--------------------|
|Rstudio|
|Apache Spark|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
eval = (3*4)+5
print(eval)
print(eval==17)

17
True

In [8]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 6)

33.333333333333336

**Objectives:**
- List popular languages for Data Science.
- Commonly used libraries used by Data Scientists.
- Create a markdown cell with a table of Data Science tools.
- A few examples of evaluating arithmetic expressions in Python

## Author
Atief Jokhoe